html {
	height: 100%;
}

body {
	height: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: calc(100% - 31.6px - 50px);
	margin: 0;
}

.main-container {
	width: 70%;
	border-bottom: 2px solid;
	max-height: 100%;

	@media (max-aspect-ratio: 1/1) {
		width: 100%;
	}

	@media (min-aspect-ratio: 1/1) {
		border-left: 2px solid;
		border-right: 2px solid;
	}
	border-color: #DD9E1F;
}


.container-join {
	padding: 30px;

	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.container-join-id {
	padding: 10px;
	margin: 10px;
	width: 200px;
	border: 2px solid #DD9E1F;
	border-radius: 5px;
}
			
			#video-grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
				gap: 20px;
				padding: 20px;
			}
			
			video {
				width: 100%;
				height: auto;
				border-radius: 10px;
				box-shadow: 0 5px 20px rgba(0,0,0,0.2);
			}