.custom-button {
	background-color: #FFD98C;
	border: 2px solid;
	border-color: #DD9E1F;
	border-radius: 50px;
	transition: background-color 0.15s;
}

.custom-button:hover {
	background-color: #F3E1BC;
}