html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0px;

	font-family: "Open Sans";
	font-size: 20px;
	@media (max-aspect-ratio: 1/1) {
		font-size: 36px;
	}
}


.warning {
	color: red;
}


.header {
	width: 100%;
	height: 30px;
	@media (max-aspect-ratio: 1/1) {
		height: 50px;
	}
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid;
	border-color: #DD9E1F;
	background-color: #E0D1B3;
}

.header button {
	width: 100%;
	background-color: #E0D1B3;
	border: none;
	border-right: 2px solid;
	border-color: #DD9E1F;
	font-size: 20px;
	transition: background-color 0.15s;
}

.header button:last-child {
	width: 30%;
	border-right: none;
}

.header button:hover {
	background-color: #E5D8BE;
}



.custom-button {
	background-color: #FFD98C;
	border: 2px solid;
	border-color: #DD9E1F;
	border-radius: 1000px;
	transition: background-color 0.15s;
	font-family: inherit;
	font-size: 0.7em;
}

.custom-button:hover {
	background-color: #F3E1BC;
}


.custom-input {
	height: 1.5em;
	border: none;
	border: 2px solid;
	border-color: #DD9E1F;
	border-radius: 5px;
	outline: none;
}