body {
    display: block;
    margin: 0px;
    background-color: #EFEABF;
}

.header {
	height: 30px;
	@media (max-aspect-ratio: 1/1) {
		height: 50px;
	}
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid;
	border-color: #DD9E1F;
	background-color: #E0D1B3;
}

.header button {
	width: 100%;
	background-color: #E0D1B3;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #DD9E1F;
	font-size: 20px;

	@media (max-aspect-ratio: 1/1) {
		display: block;
	}
}

.header button:last-child {
	width: 30%;
}

.header button:hover {
	background-color: #E5D8BE;
}