.main-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 5px 0px;
}

.main-chats {
	width: 100%;
	max-height: calc(100% - 31.2px - 1.6px);
	display: flex;
	flex-direction: column;
	border-top: 2px solid;
	border-color: #DD9E1F;
	overflow-y: auto;
}

.main-chats-chat {
	background-color: #FFFCDD;
	display: flex;
	flex-direction: column;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid;
	border-color: #aaa;
	transition: background-color 0.15s;
}

.main-chats-chat:last-child {
	border-bottom: 0px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.main-chats-chat:hover {
  background-color: #EAEAEA;
}

.main-chats-chat a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}