html {
	height: 100%;
}

body {
	height: 100%;
}

.custom-button {
	border-radius: 0px;
	border: 0px;

	@media (max-aspect-ratio: 1/1) {
		border-left: 2px solid;
		border-right: 2px solid;
		border-color: #DD9E1F;
	}
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto 0 auto;
	
	width: 70%;
	height: calc(100% - 31.6px - 50px);
	@media (max-aspect-ratio: 1/1) {
		width: 100%;
		height: calc(100% - 51.6px - 50px);
	}

	@media (min-aspect-ratio: 1/1) {
		border-left: 2px solid;
		border-right: 2px solid;
	}
	border-bottom: 2px solid;
	border-color: #DD9E1F;
}

.main-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-header div {
	width: 100%;
	display: flex;
	justify-content: center;

	@media (min-aspect-ratio: 1/1) {
		border-left: 2px solid;
		border-right: 2px solid;
		border-color: #DD9E1F;
	}
}

.main-messages {
	background-color: #FFFCDD;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #DD9E1F;
}

.main-message {
	background-color: #FFFCDD;
	display: flex;
	flex-direction: row;
	padding-left: 5px;
	padding-right: 5px;
	gap: 10px;
}

.main-message-photo {
	min-width: 50px;
	max-width: 50px;
}

.main-message-photo img {
	width: 100%;
	border: 1px solid;
	border-radius: 50%;
	border-color: #aaa;
}

.main-message-text-username-value {
	text-decoration: none;
	font-weight: bold;
	color: #b97c01;
}

.main-message-text-content a {
  display: block;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  text-decoration: none;
  color: inherit;
}

.main-footer {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.main-footer-input {
	display: flex;
	width: 100%;

	@media (max-aspect-ratio: 1/1) {
		border-left: 2px solid;
	}

	@media (min-aspect-ratio: 1/1) {
		border-right: 2px solid;
	}
	border-color: #DD9E1F;
}

.main-footer-input input {
	width: calc(100% - 10px);
	height: 100%;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: 0px;
	outline: none;
}