.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px solid;
	height: 100%;
	margin: 0 auto 0 auto;
	
	width: 70%;
	@media (max-aspect-ratio: 1/1) {
		width: 100%;
	}
}

.main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 4px solid;
}

.main-messages {
	width: 100%;
	heigth: 100%;
	max: 100%;
	overflow-y: auto;
	border: 4px solid;
}

.main-footer {

}

.main-footer input {
	
}