body {
    display: block;
    margin: 0px;
}

.header {
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 4px solid;
}

.header img {
	height: 50px;
}

.header-label {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-buttons {
	
}


.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px solid;
	width: 70%;
	margin: 0 auto 0 auto;
}

.main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 4px solid;
}

.main-messages {
	width: 100%;
	border: 4px solid;
}

.main-footer {

}

.main-footer input {
	width: 100%;
}