.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-warning-field {
	display: flex;
	flex-direction: column;

	border-top: 2px solid;
	border-bottom: 2px solid;
	width: 70%;

	@media (max-aspect-ratio: 1/1) {
		width: 100%;
	}

	@media (min-aspect-ratio: 1/1) {
		border-left: 2px solid;
		border-right: 2px solid;
	}
	border-color: #DD9E1F;
}

.main-photo {
	display: flex;
	flex-direction: column;
	align-items: center;

	border-top: 2px solid;
	border-bottom: 2px solid;
	width: 70%;

	@media (max-aspect-ratio: 1/1) {
		width: 100%;
	}

	@media (min-aspect-ratio: 1/1) {
		border-left: 2px solid;
		border-right: 2px solid;
	}
	border-color: #DD9E1F;
}

.main-photo-current {
	width: 50%;
}

.main-username {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 10px;
}

.main-description {
	display: flex;
	flex-direction: column;

	border-top: 2px solid;
	border-bottom: 2px solid;
	width: 70%;

	@media (max-aspect-ratio: 1/1) {
		width: 100%;
	}

	@media (min-aspect-ratio: 1/1) {
		border-left: 2px solid;
		border-right: 2px solid;
	}
	border-color: #DD9E1F;
}

.warning {
	color: red;
}