.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-data {
	background-color: #FFFCDD;
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 5px;

	width: 70%;
	border-bottom: 2px solid;

	@media (max-aspect-ratio: 1/1) {
		width: 100%;
		flex-direction: column;
	}

	@media (min-aspect-ratio: 1/1) {
		border-left: 2px solid;
		border-right: 2px solid;
	}
	border-color: #DD9E1F;
}

.main-data-photo {
	width: 30%;
	display: flex;
	flex-direction: column;

	@media (max-aspect-ratio: 1/1) {
		width: 100%;
		align-items: center;
	}
}

.main-data-photo-current {
	max-width: 100%;

	@media (max-aspect-ratio: 1/1) {
		width: 90%;
	}
}

.main-data-photo-current img {
	width: 100%;
	border: 1px solid;
	border-color: #aaa;
}

.main-data-photo-input {
	display: none;
}

.main-data-names {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;


	@media (max-aspect-ratio: 1/1) {
		padding-top: 3px;
		padding-left: 5px;
		padding-right: 5px;
		border-top: 2px solid;
		border-color: #DD9E1F;
		box-sizing: border-box;
	}
}

.main-data-names-username {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
}

.main-data-names-username-value input {
	width: 50%;
}

.main-data-names-description {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main-data-names-description a {
  display: block;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  text-decoration: none;
  color: inherit;
}

.warning {
	color: red;
}