body {
    margin: 0px;
    background-color: #EFEABF;
}

.main {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: row;
	align-items: center;
}

.main-table {
	min-width: 300px;
	border: 2px solid;
	border-color: #DD9E1F;
}

.main-table input {
	width: 90%;
}

.main-table-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.main-table-buttons button {
	min-width: 100px;
}

.warning {
	color: red;
}