.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px solid;
}

.main-members {
	display: flex;
	flex-direction: column;
}

.main-members-list {
	display: flex;
	flex-direction: column;
}

.warning {
	color: red;
}